# Ignore node_modules directory
node_modules/

# Ignore environment files
.env
generateKey.js

# Ignore compiled files
*.class
*.o
*.pyc

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore logs
*.log

# Ignore build output
/dist/
/build/

# Ignore specific IDE/editor config files
.vscode/
.idea/